:root, [data-theme=light] {
    --navbar-bg: #d1d8dd;
    --control-bg: #abd8e5;
    }
    
    .navbar {
        height: 148px;
        background: var(--navbar-bg);
    }
    .navbar-home img {
        max-height: 128px;
    }
    
    .login-content.page-card {
        background: #ada025 !important;
    }
    div#page-login {
        background-color: transparent !important ;
    }

    @media (min-width: 576px) {
        body {
            background-color:azure !important;
        }
    }
    .page-card-head img {
        max-height: 142px !important;
    }
    nav.navbar.navbar-light.navbar-expand-lg {
        visibility: hidden;
    }
    .btn.btn-primary {
        background-color: #aa3660;
        font-family: Quache;
        font-weight: 900;
        font-size: 20px;
    }
    h4 {
        font-family: Quache !important;
        font-weight: 900 !important;
        }

        input#login_email {
            font-family: Quache;
            font-weight: 900;
        }
        span.toggle-password.text-muted{
            font-family: Quache;
            font-weight: 900;

        }
        a {
            font-family: Quache;
            font-weight: 900;
            font-size: 20px;
            color: #aa3660 !important;
        }
        text-muted login-divider {
            font-family: Quache;
            font-weight: 900;
            color: #aa3660;
        }
        button.btn.btn-sm.btn-primary.btn-block.btn-login {
            font-family: 'Quache';
            font-weight: 900;
        }
        a.btn.btn-block.btn-default.btn-sm.btn-login-option.btn-login-with-email-link {
            font-family: 'Quache';
            font-weight: 900;
        }
        text-center sign-up-message {
            font-family: 'Quache' !important;
            font-weight: 900 !important;
        
        }
        .btn:not(.btn-md):not(.btn-lg) {
            padding: 4px 8px;
            font-size: 20px;
            font-family: 'Quache';
            font-weight: 900;
        }
        .for-login .sign-up-message, .for-forgot .sign-up-message, .for-login-with-email-link .sign-up-message, .for-signup .sign-up-message, .for-email-login .sign-up-message {
            font-size: 20px !important;
            font-family: 'Quache'!important;
            font-weight: 900 !important;
            color: #aa3660 !important;
        }
        .forgot-password-message{
            font-size: 20px !important;
            font-family: 'Quache'!important;
            font-weight: 900 !important;

        }
        .for-login .page-card .page-card-body .login-divider, .for-forgot .page-card .page-card-body .login-divider, .for-login-with-email-link .page-card .page-card-body .login-divider, .for-signup .page-card .page-card-body .login-divider, .for-email-login .page-card .page-card-body .login-divider {
            font-family: 'Quache';
            font-size: 15px;
            color: #aa3660;
        }
        .for-login .page-card .page-card-body .forgot-password-message>*, .for-forgot .page-card .page-card-body .forgot-password-message>*, .for-login-with-email-link .page-card .page-card-body .forgot-password-message>*, .for-signup .page-card .page-card-body .forgot-password-message>*, .for-email-login .page-card .page-card-body .forgot-password-message>* {
            font-family: 'Quache';
            font-size: 15px;
            color: #aa3660;
        }
        input#login_password {
            font-family: 'Quache';
            font-size: 15px;
            color: #aa3660;

        }
        .for-login .page-card .page-card-body .email-field input, .for-login .page-card .page-card-body .password-field input, .for-forgot .page-card .page-card-body .email-field input, .for-forgot .page-card .page-card-body .password-field input, .for-login-with-email-link .page-card .page-card-body .email-field input, .for-login-with-email-link .page-card .page-card-body .password-field input, .for-signup .page-card .page-card-body .email-field input, .for-signup .page-card .page-card-body .password-field input, .for-email-login .page-card .page-card-body .email-field input, .for-email-login .page-card .page-card-body .password-field input{
            font-family: 'Quache';
            font-size: 15px;
            color: #aa3660;

        }