:root, [data-theme=light] {
    --navbar-bg: #d1d8dd;
    --control-bg: #abd8e5;
    --bg-color: white;
    --bg-color: #eff6be;
    }
    .navbar {
        height: 148px;
        background: var(--navbar-bg);
    }
    .navbar-home img {
        max-height: 128px;
    }
    .login-content.page-card {
        background: #ada025;
    }
    
    .widget.onboarding-widget-box {
        background: #ebb3c7;
    }
    h4 {
        font-family: Quache !important;
        font-weight: 900 !important;
        
        }
        
        h3 {
            font-family: Quache !important;
            font-weight: 900 !important;
            color: #11b965;
            
            }
        label.control-label.reqd {
            font-family: Quache !important;
            font-weight: 900 !important;
        }
        .btn.btn-primary  {
            background-color: #aa3660;
        }
       
        label.control-label {
            font-size: 20px; 
            color: #aa3660;
            font-family: Quache !important;
            font-weight: 900 !important;
        }

        .indicator-pill.green, .indicator-pill-right.green, .indicator-pill-round.green {
            background: #55b66d;
            color: #aa3660;
            font-family: 'Quache';
            font-weight: 900;
            height: auto;
        }
        .btn.btn-default:hover, div#driver-popover-item .driver-popover-footer button.btn-default:hover, .btn.btn-default:active, div#driver-popover-item .driver-popover-footer button.btn-default:active {
            background: #a14b4b;
            color: var(--text-color);
        }
        
        
        a#user-connections_tab-tab:hover {
            background: green;
        }
        a#user-connections_tab-tab {
            background: coral;
        }
        .widget.onboarding-widget-box .widget-body .onboarding-step.active, .widget.onboarding-widget-box .widget-body .onboarding-step:hover {
            background-color: #f4d94c;
        }
        