:root, [data-theme=light] {
    --navbar-bg: #d1d8dd;
    --control-bg: #abd8e5;
    --bg-color: white;
    --bg-color: #eff6be;
    }
    .navbar {
        height: 148px;
        background: var(--navbar-bg);
    }
    .navbar-home img {
        max-height: 128px;
    }
    .login-content.page-card {
        background: #ada025;
    }
    
    .widget.onboarding-widget-box {
        background: #ebb3c7;
    }
    h4 {
        font-family: Quache !important;
        font-weight: 900 !important;
        
        }
        
        h3 {
            font-family: Quache !important;
            font-weight: 900 !important;
            color: #11b965;
            
            }
        label.control-label.reqd {
            font-family: Quache !important;
            font-weight: 900 !important;
        }
        .btn.btn-primary  {
            background-color: #aa3660;
        }
        .btn.btn-primary :hover {
            background-color: #365baa;
        }
        


        