:root, [data-theme=light] {
    --navbar-bg: #d1d8dd;
    --control-bg: #abd8e5;
    }
    
    .navbar {
        height: 148px;
        background: var(--navbar-bg);
    }
    .navbar-home img {
        max-height: 128px;
    }
    
    .login-content.page-card {
        background: #ada025 !important;
    }
    div#page-login {
        background-color: transparent !important ;
    }

    @media (min-width: 576px) {
        body {
            background-color:azure !important;
        }
    }
    .page-card-head img {
        max-height: 142px !important;
    }
    nav.navbar.navbar-light.navbar-expand-lg {
        visibility: hidden;
    }